<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/stylecontact.css">
</head>

<body>
    <div class="container">
        <div class="row-1">
            <div class="col-xs-6 col-md-6-1"><a href="#">
                    <img class="logo" src="img/logo.svg" alt="logo"></a>
                <div class="header-text">
                    <p>Contact Us</p>
                </div>
            </div>
            <div class="col-xs-6 col-md-6-2">
                <ul class="menu clearfix">
                    <li class="menu-list"><a href="index.html" class="menu-link">HOME</a></li>
                    <li class="menu-list"><a href="product.html" class="menu-link">PRODUCTS</a></li>
                    <li class="menu-list"><a href="product.html" class="menu-link">HISTORY</a></li>
                    <li class="menu-list"><a href="" class="menu-link">SHOWROOM</a></li>
                    <li class="menu-list"><a href="" class="menu-link  menu-link-active">CONTACT</a></li>
                    <li class="menu-list"><a href=""><img class="search-logo" src="img/search.svg" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="products">
            <div class="product">
                <div class="thumbnail-1">
                    <img class="product-logo" src="img/location.png" alt="location">
                    <h3 class="thumbnail-h3">California</h3>
                    <p class="PEA">Phone:</p>
                    <h5 class="nea">1900 - 1234 - 5678</h5>
                    <p class="PEA">Email:</p>
                    <h5 class="nea">info@interior.com</h5>
                    <p class="PEA">Address:</p>
                    <h5 class="nea">12 W 1st St, 90001 Los Angeles, California</h5>
                </div>
            </div>

            <div class="product">
                <div class="thumbnail-2">
                    <img class="product-logo" src="img/location.png" alt="location">
                    <h3 class="thumbnail-h3">California</h3>
                    <p class="PEA">Phone:</p>
                    <h5 class="nea">1900 - 1234 - 5678</h5>
                    <p class="PEA">Email:</p>
                    <h5 class="nea">info@interior.com</h5>
                    <p class="PEA">Address:</p>
                    <h5 class="nea">12 W 1st St, 90001 Los Angeles, California</h5>
                </div>
            </div>

            <div class="product">
                <div class="thumbnail-3">
                    <img class="product-logo" src="img/location.png" alt="location">
                    <h3 class="thumbnail-h3">California</h3>
                    <p class="PEA">Phone:</p>
                    <h5 class="nea">1900 - 1234 - 5678</h5>
                    <p class="PEA">Email:</p>
                    <h5 class="nea">info@interior.com</h5>
                    <p class="PEA">Address:</p>
                    <h5 class="nea">12 W 1st St, 90001 Los Angeles, California</h5>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-cl1">
                <h3 class="footer-h3-CU" style="letter-spacing: 1.4px">Contuct Us</h3>
                <p class="footer-p-CU" style="width: 221px; height: 102px">132A&nbsp;Bridge&nbsp;Road&nbsp;Richmond&nbsp;VIC Australia.<br><br>Talk to us on 1300 132 info@interior.com</p>
            </div>
            <div class="footer-cl2">
                <h3 class="footer-h3" style="letter-spacing: 1.4px">Useful Information</h3>
                <div class="footer-useful">
                    <p class="footer-useful-p1" style="width: 132px; height: 62px; letter-spacing: 0.7px;">Sales terms Customer&nbsp;care Delivery</p>
                    <p class="footer-useful-p2" style="width: 187px; height: 63px; letter-spacing: 0.7px;">Architect accounts Careers Exchanges&nbsp;&&nbsp;returns</p>
                </div>
            </div>
            <div class="footer-cl3">
                <h3 class="footer-h3" style="letter-spacing: 1.4px">Let’s Stay in Touch!</h3>
                <p class="footer-p" style="width: 363px; height: 36px">Suscribe&nbsp;to&nbsp;know&nbsp;about&nbsp;our&nbsp;latest&nbsp;news,&nbsp;products&nbsp;and special offers just for suscribers.</p>
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="    your email address">
                    </div>
                </form>
            </div>
        </div>
        <div class="footer-down">
            <div class="footer-down-1">© Copyright - INTERIOR 2016. All Rights Reserved.</div>
            <div class="footer-down-2"><img src="img/social-links.png" alt=""></div>
            <div class="footer-down-3">Terms & Conditions  /  Privacy policy & Cookies</div>
        </div>
    </div>
</body>

</html>
